/*Cursive Mild Font
.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}*/

/*Cursive Sharper Font */
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 700 */

/*.caveat-big {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caveat-medium {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/

/*Vocabulary Cards*/
.cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 150px;
  perspective: 1000px;
}

.card h1 {
  font-size: 28px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  backdrop-filter: blur(3px);
}

.card-back {
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}
