@import "../../scss/config";

.contact-section {
  height: 100vh;

  .contact-tagline {
    padding: 4rem 1rem 1rem 1rem;
    text-align: center;
    
    h2, h3 {
        padding: 1rem;
    }
  }

  .contact-menu {
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
 
    .contact-card {
      height: 12rem;
      width: 18rem;
      padding: 1rem;
      background-color: rgba($light-beige, 0.8);
      margin: 0.5rem;
      border-radius: 5px;
      color: $dark-grey-brown;

      a, h3 {
        display: block;
        text-align: center;
        margin: 0.5rem 0;
      }

      a, p {
        font-weight: 500;
        text-align: center;
        text-decoration: none ;
        color: $dark-grey-brown;
        
      }
    }
  }
}
