@import "../../scss/config";

// Color Variables
$primary-brown: #2a2826;
$primary-brown-light: #5d4b42;
$text-dark: #1a1818;
$bg-light: #887971;
$bg-dark: rgb(87, 75, 68);

.header {
  position: sticky;
  background-color: rgba(255, 255, 0, 0.2);
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center; // burger in the middle
  align-items: center;
  height: 3.7rem;
  padding: 0 2rem;
  margin: 0;

  .burger {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 200; // above overlay

    span {
      display: block;
      height: 2px;
      width: 100%;
      background: $light-beige;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &.open span:nth-child(1) {
      transform: rotate(45deg) translateY(6px);
    }
    &.open span:nth-child(2) {
      opacity: 0;
    }
    &.open span:nth-child(3) {
      transform: rotate(-45deg) translateY(-6px);
    }
  }

  .menu {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .buttons {
    display: flex;
    gap: 3rem;
    margin-top: 0;
  }

  .menu-btn {
    text-align: center;
    color: $light-beige;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $light_grey;
      scale: 1.15;
    }
  }
}

// Responsive Styles
@media (min-width: 640px) {
  .header {
    flex-wrap: nowrap;
    align-items: center;

    .buttons {
      width: auto;
      margin-top: 0;
    }

    .menu-btn {
      flex: none;
    }
  }
}
